@media (min-width: 641px) {
  .header-flex {
    justify-content: space-between;
    padding: 0 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #menu {
    display: none;
  }

  .main-navigation {
    display: flex; 
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
  }

  .main-navigation a {
    border: none;
    padding: 10px 20px;
  }

  .main-navigation a:hover {
    text-decoration: underline;
    background-color: transparent;
  }

  .user-container {
    display: block;
  }
  
  .user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }

  .movie-picture-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .movie-picture-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}