body {
    font-family: 'roboto', arial, sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    max-width: 640px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0 1rem;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

header h1 {
    text-align: left; 
    margin: .5rem 0;
    font-size: 1.5rem;
}

#menu {
    font-size: 1.8rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    display: block; 
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

nav {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation.open {
    display: flex;
}

main {
    padding: 1rem;
}

main h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.pictures-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

figure h3 {
    color: #3e3ea0;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

figcaption p {
    margin: 5px 0;
    font-size: 0.9rem;
    text-align: left;
}

.label {
    font-weight: bold;
    color: #333;
    display: inline-block;
    width: 70px;
}

footer {
    background-color: #3e3ea0; 
    color: #fff; 
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px 0;
}

.date-time {
    font-size: 0.9rem;
}