/* Media Query for Larger Screens */
@media (min-width: 641px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header-content {
        grid-template-columns: 1fr;
    }

    header h1 {
        margin: 0;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .navigation a {
        display: block;
        border-top: none;
        color: #fff;
        padding: 0.75rem 1rem;
    }

    .navigation a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }
}