body {
    font-family: 'roboto', arial, sans-serif;
}

header, main, footer {
    margin: 1rem auto;
    max-width: 640px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0 1rem;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

header h1 {
    text-align: left; 
    margin: .5rem 0;
    font-size: 1.5rem;
}

#menu {
    font-size: 1.8rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    display: block; 
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.navigation.open {
    display: block;
}

main {
    padding: 1rem;
}

main h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

caption {
    margin-top: 0.5rem;
    font-style: italic;
    color: #555;
}

footer {
    background-color: rgb(62, 62, 160);
    color: rgb(252, 252, 252);
    text-align: center;
    padding: 10px;
}

footer p {
    margin: 5px 0;
}

.date-time {
    font-size: 0.9rem;
}